---
layout: default
title: Home
---

<div class="posts">

  <p class="lead">
    I'm Luca, I'm 32 and I live in Berlin, Germany.<br>
    I like to code.<br>
    Here are some of the things that I learned and I'd like to share.
  </p>

  <hr>

{% for post in site.posts %}
  {% unless post.draft %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ site.baseurl }}/{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <div class="post-meta">
      {{ post.date | date_to_long_string }} -
      <a class="disqus-comment-count" href="{{ site.baseurl }}/{{ post.url }}#disqus_thread">Comments</a>
    </div>

  {% if post.description %}
    {{ post.description }}
    {% if post.updated %}
    <br>
    <strong>{{ post.updated }}</strong>
    {% endif %}
  {% endif %}
  </div>
  {% endunless %}
{% endfor %}
</div>
