<script type="text/javascript">
  {% if site.safe == false %}var disqus_developer = 1;{% endif %}
  var disqus_shortname = 'codelucatironi';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
     var dsq_count = document.createElement('script');
         dsq_count.type = 'text/javascript';
         dsq_count.async = true;
         dsq_count.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq_count);
  })();
</script>
