<div id="disqus_thread"></div>
<script type="text/javascript">
  {% if site.safe == false %}var disqus_developer = 1;{% endif %}
  var disqus_shortname = 'codelucatironi';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq_embed = document.createElement('script');
        dsq_embed.type = 'text/javascript';
        dsq_embed.async = true;
        dsq_embed.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq_embed);
     var dsq_count = document.createElement('script');
         dsq_count.type = 'text/javascript';
         dsq_count.async = true;
         dsq_count.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq_count);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a>
