#gallery {
  line-height: 1.2;
  -webkit-column-count: 3; /* split it into 3 columns */
     -moz-column-count: 3;
          column-count: 3;
  -webkit-column-gap: 5px; /* give it a 5px gap between columns */
     -moz-column-gap: 5px;
          column-gap: 5px;
}
#gallery .gallery-item {
  position: relative;
}
#gallery .gallery-item img {
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px; /* to match column gap */
  transition: .5s ease;
  backface-visibility: hidden;
}
#gallery .gallery-item .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}
#gallery .gallery-item:hover .overlay {
  opacity: 1;
}
#gallery .gallery-item:hover img {
  opacity: 0.2;
}
#gallery .gallery-item .overlay .text {
  color: gray;
  font-size: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 800px) {
  #gallery {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
  }
}

@media (max-width: 400px) {
  #gallery {
    -webkit-column-count: 1;
       -moz-column-count: 1;
            column-count: 1;
  }
}