---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-meta">
    Published on {{ page.date | date_to_long_string }} -
    <a class="disqus-comment-count" href="{{ post.url }}#disqus_thread">Comments</a>
  </div>
  {% if page.tagline %}<p class="lead">{{ page.tagline }}</p>{% endif %}
  <hr>
  {{ content }}

  <a style="float:right;" href="#">^Back to top</a>
</div>

<div class="related">
  <div class="sharing">
    {% include sharing.html %}
  </div>

  <div class="comments">
    {% include disqus_comments.html %}
  </div>
</div>
